{{#extend "layout"}}
{{#content "main"}}

<section class="slider js-slider">
    <div class="container">
        <div class="slider__cards">
            <div class="slider__card">
                <div class="slider__card-number">
                    0
                </div>

            </div>
            <div class="slider__card">
                <div class="slider__card-number">
                    1
                </div>
            </div>
            <div class="slider__card">
                <div class="slider__card-number">
                    2
                </div>
            </div>
            <div class="slider__card">
                <div class="slider__card-number">
                    3
                </div>
            </div>
            <div class="slider__card">
                <div class="slider__card-number">
                    4
                </div>
            </div>
            <div class="slider__card">
                <div class="slider__card-number">
                    5
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}